.divider{
    width: 100%;
    background-color: #470089;
    height: 2px;
}

.oswald-font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Image Loader */
.easeload{
  opacity: 0;
  -webkit-transition: all 2s ease; 
  -moz-transition: all 2s ease; 
  -ms-transition: all 2s ease; 
  -o-transition: all 2s ease; 
}


/* CSS Animation */
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {

  background-color: #131417;  
}
p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}
.container-1 {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  /* height: 70vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 5s infinite;
}

.first div {
  background-color:#d82020;
}
.second div {
  background-color:#CD921E;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: 0;}
  30% {margin-top:  -5.62rem;}
  40% {margin-top:  -5.62rem;}
  60% {margin-top:  -5.62rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: 0;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

/* CSS Cards */
.card{
  height: 550px;
  max-width: 400px;
  background-color: white;
  border-radius: 16px;
  border: 5px solid rgb(53, 7, 105);
  margin: 10px;
  padding: 5px;
  position: relative;
  background-color: black;
}



/* Skills Progress Bars */
@property --progress-value {
  syntax: "<integer>";
  inherits: false;
  initial-value: 0;
}
@-webkit-keyframes html-progress {
  to {
    --progress-value: 92;
  }
}
@keyframes html-progress {
  to {
    --progress-value: 92;
  }
}
@-webkit-keyframes css-progress {
  to {
    --progress-value: 87;
  }
}
@keyframes css-progress {
  to {
    --progress-value: 87;
  }
}
@-webkit-keyframes js-progress {
  to {
    --progress-value: 73;
  }
}
@keyframes js-progress {
  to {
    --progress-value: 73;
  }
}
@-webkit-keyframes mern-progress {
  to {
    --progress-value: 50;
  }
}
@keyframes mern-progress {
  to {
    --progress-value: 50;
  }
}
.progress-bar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* to center the percentage value */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5c00cc;
  font-size: xx-large;
}

.progress-bar::before {
  counter-reset: percentage var(--progress-value);
  content: counter(percentage) "%";
}

.html {
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(rgb(50, 3, 115) calc(var(--progress-value) * 1%), rgb(116, 10, 230) 0);
  -webkit-animation: html-progress 2s 1 forwards;
          animation: html-progress 2s 1 forwards;
}

.html::before {
  -webkit-animation: html-progress 2s 1 forwards;
          animation: html-progress 2s 1 forwards;
}

.css {
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(rgb(50, 3, 115) calc(var(--progress-value) * 1%), rgb(116, 10, 230) 0);
  -webkit-animation: css-progress 2s 1 forwards;
          animation: css-progress 2s 1 forwards;
}

.css::before {
  -webkit-animation: css-progress 2s 1 forwards;
          animation: css-progress 2s 1 forwards;
}

.js {
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(rgb(50, 3, 115) calc(var(--progress-value) * 1%), rgb(116, 10, 230) 0);
  -webkit-animation: js-progress 2s 1 forwards;
          animation: js-progress 2s 1 forwards;
}

.js::before {
  -webkit-animation: js-progress 2s 1 forwards;
          animation: js-progress 2s 1 forwards;
}
.mern {
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(rgb(50, 3, 115) calc(var(--progress-value) * 1%), rgb(116, 10, 230) 0);
  -webkit-animation: mern-progress 2s 1 forwards;
          animation: mern-progress 2s 1 forwards;
}

.mern::before {
  -webkit-animation: mern-progress 2s 1 forwards;
          animation: mern-progress 2s 1 forwards;
}
/* body {
  font-family: -apple-system, system-ui, Helvetica, Arial, sans-serif;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
} */

h2 {
  text-align: center;
  color: white;
  font-size: 30px;
}

progress {
  visibility: hidden;
  width: 0;
  height: 0;
}


.menu{
  display: none;
}
@media (max-width:500px){
  .progress-bars{
    flex-direction: column;
  }
  .card{
    flex: 100%;
  }
  .nav_items{
    flex-direction: column;
  }
  .project_container{
    flex-direction: column;
  }

  .menu{
    display: initial;

  }
  .container{
    display: none;
  }

  .navbar{
    justify-content: space-between;
  }

  .intro{
    flex-direction: column;
    align-items: center;
  }

  .image-container + .intro-container{
    width: 80%;
  }

  .container-1{
    flex-direction: column;
  }
  .animation{
    overflow: hidden;
  }
  }

